<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey"></div>
    <div class="row justify-content-left">
		<div class="col-md-2">
    <form class="form-group">
      <input type="search" class="form-control mr-sm-2" id="search" placeholder="Search for member" [(ngModel)]="nameSearch" [ngModelOptions]="{
        standalone:true}">
    </form>
  <div class="form-group">
</div>

<table class="table">
  <tbody>
    <tr *ngFor ="let name of Memberarr|filter:nameSearch" [class.selected]="name==selectedMembers">
      <td>{{ name.name}}</td>
     
    </tr>
  </tbody>
</table>





<div class="btn ">
  <button (click)="onClickOpenForm()" value="Register"  style="float: right;">Create New Region</button>
</div>
  <div *ngIf="openform" class="form1">
  
    <form [formGroup]="formdata2" (ngSubmit)="onClickSubmitForm(formdata2.value)">
    Name <br>
    <input type="text" class="yourtextbox" name="yourname" placeholder="Your Name" formControlName="name"><br>
    Last Name<br>
    <input type="text" class="yourtextbox" name="yourlastname" placeholder="Your Last Name" formControlName="lastname"><br>
    Age<br>
    <input type="text" class="yourtextbox" name="yourage" placeholder="Your Age" formControlName="age"><br>
    Email <br>
    <input type="text" class="yourtextbox" name="youremail" placeholder="Your Email" formControlName="email"><br>
    Mobile Number<br>
    <input type="text" class="yourtextbox" name="yourmobile" placeholder="Your Mobile Number" formControlName="mobilenumber"><br>
    Aadhaar Number<br>
    <input type="text" class="yourtextbox" name="youraadhaar" placeholder="Your Aadhar Number" formControlName="aadhaarnumber"><br>
    <input type="button" [disabled]="!formdata2.valid"   class="forsubmit" value="Submit">
    </form>


  </div>
<br>
<br>


