<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<h3 style="text-align: center;">
  Approve or Reject the following Requests
</h3>
<table class="table">
  <tr>
      <th>#</th>
      <th>Member Name</th>
      <th>Email</th>
      <th>Approve Request</th>
      <th>Reject Request</th>
  </tr>
  <tr *ngFor="let member of members; let i = index">
      <td>{{i + 1}}</td>
      <td>{{member.membername}}</td>
      <td>{{member.email}}</td>
      <td><button type="submit" class="btn" name="SubmitButton" value="accept" id="buttonAccept" onclick=" foo();"><i class= "fa fa-check" ></i>&nbsp; Approve &nbsp;</button></td>
      <td><button type="submit" class="btn" name="SubmitButton" value="refuse" id="buttonRefuse" ><i class="fa fa-times"></i>&nbsp; Reject
       &nbsp;</button></td>
      
  </tr>
</table>


