<h3 style="text-align: center;">
  Approve or Reject the following Requests
</h3>
<table class="table">
  <tr>
    <th>#</th>
    <th>Member Name</th>
    <th>Email</th>
    <th>Approve Request</th>
    <th>Reject Request</th>
  </tr>
  <tr *ngFor="let member of members">
    <td>{{member.id}}</td>
    <td>{{member.name}}</td>
    <td>{{member.email}}</td>
    <td><button (click)="updateUserType(member.id, 'APPROVED')" type="button" class="btn btn-success">Approve</button>
    </td>
    <td><button (click)="updateUserType(member.id, 'REJECTED')" type="button" class="btn btn-danger">Reject</button>
    </td>

  </tr>
</table>