<form>
  <fieldset disabled>
    <div class="form-data">
    <div class="form-group">
      
      <label for="disabledTextInput">BRANCH NAME</label>
      <input type="text" id="disabledTextInput" class="form-control" value="{{branchDetails?.name}}" placeholder="Disabled input">
    </div>
 
    <div class="form-group">
      <label for="disabledTextInput">BRANCH CODE</label>
      <input type="text" id="disabledTextInput" class="form-control" value="{{branchDetails?.id}}" placeholder="Disabled input">
    </div>
    <div class="form-group">
      <label for="disabledTextInput">ADDRESS</label>
      <input type="text" id="disabledTextInput" class="form-control" value="{{branchDetails?.address}}" placeholder="Disabled input">
    </div>
    <div class="form-group">
      <label for="disabledTextInput">CITY</label>
      <input type="text" id="disabledTextInput" class="form-control" value="{{branchDetails?.city}}" placeholder="Disabled input">
    </div>
    <div class="form-group">
      <label for="disabledTextInput">PINCODE</label>
      <input type="text" id="disabledTextInput" class="form-control" value="{{branchDetails?.pincode}}" placeholder="Disabled input">
    </div>

  </div>
  </fieldset>
</form>