<form>
  <fieldset disabled>
    <div class="form-data">
    <div class="form-group">
      
     
      <h6>BRANCH NAME</h6>
      <input type="text" id="disabledTextInput" class="form-control" value="Tejpuz" placeholder="Disabled input">
    </div>
 
    <div class="form-group">
     
      <h6>BRANCH CODE</h6>
      <input type="text" id="disabledTextInput" class="form-control" value="TEJ12345#" placeholder="Disabled input">
    </div>
    <div class="form-group">
     
      <h6>ADDRESS</h6>
      <input type="text" id="disabledTextInput" class="form-control" value="Yelahanka" placeholder="Disabled input">
    </div>
    <div class="form-group">
     
      <h6>CITY</h6>
      <input type="text" id="disabledTextInput" class="form-control" value="Bangalore" placeholder="Disabled input">
    </div>
    <div class="form-group">
      
      <h6>PINCODE</h6>
      <input type="text" id="disabledTextInput" class="form-control" value="560064" placeholder="Disabled input">
    </div>

  </div>
  </fieldset>
</form>
