.navbar {
    width: 100%;
    overflow: auto;
  }
  .navbar-brand {
    font-size: 25px;
  }
  .message{
      text-align: center;
      margin-top: 100px;
     
     
  }
  .message1{  
      margin-top: 100px;
      text-align: center;
} 
.message2{  
    text-align: center;
}